# Django
DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_HOST=db
DB_NAME=recdb
DB_USER=recuser
DB_PASS=recpass

# Django settings module
DJANGO_SETTINGS_MODULE=app.settings
